<ion-header>
    <ion-toolbar>
        <ion-title>
            Ionic Blank
        </ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    <div class="ion-padding">

        <ion-card *ngFor="let data of artistData">
            <ion-card-content >

                <ion-label>{{data.data}}</ion-label>
                <br>
                <rating
                        ngModel="data.tempRating"
                        readonly="false"
                        size="default"
                        (ngModelChange)="onModelChange($event, data)">
                </rating>
            </ion-card-content>
        </ion-card>

    </div>
</ion-content>
